.AppBodyContainer {
  padding-top: 1em;
  background-color: transparent;
  width: 100%;
  padding-left: 0;
}

.TableOfContentsContainer {
  border: $custom-border-setting;
  border-radius: $custom-border-radius;
  box-shadow: $custom-border-shadow;

  background-color: $custom-background-color;
  opacity: $custom-background-opacity;

  font-family: 'Fredericka the Great', sans-serif;
  line-height: 2;
  height: 35em;
  width: 13em;
  float:left;

  li {
    list-style:none;
    text-align: center;
    color: white;
    font-size: 20px;
    margin: 10px;
  }
}

.LessonContainer {
    border: $custom-border-setting;
    border-radius: $custom-border-radius;
    box-shadow: $custom-border-shadow;

    height: 35em;
    min-width: 30em;
    margin-left: 14em;

    .ContentContainer {
      border: $custom-border-setting;
      border-radius: $custom-border-radius;
      box-shadow: $custom-border-shadow;

      background-color: $custom-background-color;
      opacity: $custom-background-opacity;

      display: inline-block;

      min-height: 12em;
      overflow: auto;
      width: 100%;
      color: white;
    }
}

.CodeboxContainer {
  background-color: $custom-background-color;
  opacity: 0.9;
  position: absolute;
  width: 95%;
  bottom: 0;
  border: 3px solid #000000;

  .codearea {
    width: 80%;
    line-height: 1;
    border-radius: 3px;
    border: 2px solid #8AC007;
    padding: 2px; 
    /*width: 200px;*/
    height: 60px; 
    float:left;

    textarea {
      width: 100%;
      height: 100%
    }
  }
}

.submit-code {
  float:right;
  position: relative;
  top: -2.5em
}

textarea {
  width: 100%;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;  
}

.LessonResponseContainer {
  border: 3px solid #000000;
  opacity: 0.9;
  position: absolute;
  z-index: 5;
  top: 40%;
  left: 50%;

  ul {
    padding: 0;
    margin: 0;
  }

  .error {
    background-color: red;
    color: white;
  }
  .success {
    background-color: green;
    color: white;
  }
}

// ANIMATIONS

.TableOfContentsContainer {
  animation-duration: 2s;
  animation-name: slidein;
}

